@model Assignment3.Models.Enrollment 
@{
    ViewData["Title"] = "Add New Enrollment";
}

<h1>Enrol a Student into a Course</h1>
<p>This page allows you to enrol a pre-existing student into a pre-existing course.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" asp-items="ViewBag.StudentList" class="form-control"></select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <select asp-for="CourseID" asp-items="ViewBag.CourseList" class="form-control"></select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Enrol Student" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
