@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AS3 WebDev</h1>
    <p>This is Cade Kha (s4002894)'s Assignment 3 for Web Development Technologies. Please use the navbar to access task implementation.</p>
</div>
